@using QuanLyBanSachMVC.Models
@{
    var user = Request.Cookies["userCookie"];
    var anhdaidien = Request.Cookies["anhdaidien"];
}
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            @{

                if (user != null)
                {
                    <img src="/Areas/Admin/Content/dist/img/@anhdaidien.Value" class="img-circle" alt="User Image">
                }
                else
                {
                    <img src="/Areas/Admin/Content/dist/img/avatar.png" class="img-circle" alt="User Image">
                }

            }

        </div>
        <div class="pull-left info">
            @{

                if (user != null)
                {
                    <p>@user.Value</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                }
                else
                {
                    <p>Anonymous</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Off</a>
                }

            }

        </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/Admin/Sach/Index"><i class="fa fa-link"></i> <span>Manager Books</span></a></li>
        <li><a href="/Admin/KhachHang"><i class="fa fa-link"></i> <span>Manager User</span></a></li>
        <li><a href="/Admin/ChuDe"><i class="fa fa-link"></i> <span>Manager Chu De</span></a></li>
        <li><a href="/Admin/Quyen"><i class="fa fa-link"></i> <span>Manager Quyen</span></a></li>
        <li><a href="/Admin/TacGia"><i class="fa fa-link"></i> <span>Manager Tac Gia</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>

